<template>
  <div class="tumbs">
    Article
  </div>
</template>

<script>
export default {
  name: 'Article',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
