<template>
  <div class="thumbs-container">
    <div class="thumb-wrapper" :key="thumb.href" v-for="thumb in thumbsData" v-bind:class="{active : activeThumb === thumb.href, hovered : hoveredThumb === thumb.href }" @mouseover="hoverThumb(thumb.href)" @mouseleave="hoverThumbCancel(thumb)" v-bind:style="{width: thumb.config.width + 'px', height: thumb.config.height + 'px', top: thumb.config.top + 'px' ,left: thumb.config.left + 'px' }" >
      <div class="thumb">
        <div class="thumb-bg">
          <img :src="'src/assets/img/thumbs/' + thumb.href + '.png' " alt="">
        </div>
        <div class="thumb-content">
          <div class="thumb-cont-static">
            <span class="t-headline">{{thumb.href}}</span>
          </div>
          <div class="thumb-cont-din" v-show="activeThumb === thumb.href">
            <span class="t-desc">test description just static, change to dinamic later</span>
          </div>
        </div>
      </div>
      <div class="thumb-shadow" > </div>
    </div>
  </div>

</template>

<script>
export default {
  name: 'Thumbs',
  // props: ['thubsData'],
  data () {
    return {
      thumbsDataOrigin: [],
      thumbsData: [],
      activeThumb: null,
      hoveredThumb: null,
      activeThumbInterval: null,
      tGridConf: { tInRowHD: 5, tInRowL: 4, tInRowM: 3, rowLW: 1450, rowMW: 991, rowMobile: 650, containerW: null, thumbW: null, thumbH: null }
    }
  },
  methods: {
    fetchThumbsData () {
      let getUrl = 'http://localhost:3000/get-articles'
      this.$http.headers.common.Authorization = 'Basic YXBpOnBhc3N3b3Jk'
      this.$http.get(getUrl, () => {}, {headers: {'Content-Type': 'application/json'}})
        .then(response => { return response.json() })
        .then(data => {
          this.thumbsDataOrigin = data
          this.setThumbPositions(data)
        })
    },
    setThumbsGridConfig () {
      this.tGridConf.containerW = 1300
      this.tGridConf.thumbW = this.tGridConf.containerW / 5
      this.tGridConf.thumbH = Math.sqrt(3) * (this.tGridConf.thumbW / 2)
    },
    setThumbPositions (thumbsOrigin) {
      this.setThumbsGridConfig()
      let configuratedThumbs = []
      thumbsOrigin.forEach((t, index) => {
        let posInRow = Math.floor(index / this.tGridConf.tInRowHD)
        let pos = index - (posInRow * 5)
        let oddThumb = pos & 1
        let thumbConfig = { pos: pos, posInRow: posInRow, top: this.tGridConf.thumbH * posInRow + this.tGridConf.thumbH * 0.5, left: (this.tGridConf.thumbW * (3 / 4)) * pos + this.tGridConf.thumbH * 0.5, width: this.tGridConf.thumbW, height: this.tGridConf.thumbH }
        if (oddThumb) {
          thumbConfig.top = thumbConfig.top + (this.tGridConf.thumbH / 2)
        }
        t.config = thumbConfig
        configuratedThumbs.push(t)
      })
      this.thumbsData = configuratedThumbs
    },
    activeThumbScale (thumbHref, coef) {
      this.thumbsData.find(t => {
        if (t.href === thumbHref) {
          t.config.width = this.tGridConf.thumbW + this.tGridConf.thumbW * coef
          t.config.height = this.tGridConf.thumbH + this.tGridConf.thumbH * coef
        } else {
          t.config.width = this.tGridConf.thumbW
          t.config.height = this.tGridConf.thumbH
        }
      })
    },
    activateThumb (thumbHref) {
      this.activeThumb = thumbHref
      this.activeThumbScale(thumbHref, 0.25)
    },
    hoverThumbCancel (thumb) {
      this.activeThumb = null
      this.hoveredThumb = null
      thumb.config.width = this.tGridConf.thumbW
      thumb.config.height = this.tGridConf.thumbH
    },
    hoverThumb (thumbHref) {
      this.hoveredThumb = thumbHref
      this.activeThumbScale(thumbHref, 0.10)
      setTimeout(() => {
        // console.log(thumbHref, this.hoveredThumb)
        if (this.hoveredThumb === thumbHref) {
          this.activateThumb(thumbHref)
        }
      }, 500)
    },
    thumbPositionSet () {
      let position = {x: null, y: null}
      return position
    },
    insertEmptyThumbs (data) {
      let newThumbsData = data
      return newThumbsData
    }
  },
  mounted () {
    this.fetchThumbsData()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

@import '../../assets/scss/_config.scss';

$polygon: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);

$thumbTransSpeed: 0.5s;
$thumbCubicBezier: ease-in;
$thumbShadowHover: 103%;
$thumbShadowActive: 105%;

.thumbs-container{
  width: 90%;
  margin: 0 auto;
  color: white;
  text-align: center;
}
.thumb-wrapper{
  position: absolute;
  transition: $thumbCubicBezier all $thumbTransSpeed;
  display: inline-block;
  z-index: 0;
  transform: translate(-50%,-50%);
  &.hovered{
    z-index: 10;
    .thumb-shadow{
      width: $thumbShadowHover;
      height: $thumbShadowHover;
    }
    .thumb{
      background: $green;
    }
  }
  &.active{
    z-index: 10;
    .thumb-shadow{
      width: $thumbShadowActive;
      height: $thumbShadowActive;
    }
    .thumb{
      background: $green;
    }
  }
  .thumb{
    transition: $thumbCubicBezier all $thumbTransSpeed;
    background: grey;
    clip-path: $polygon;
  }
}
.thumb{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.thumbs-bg{
  width: 100%;
  height: 100%;
  text-align: center;
  img{
    margin: 0 auto;
  }
}
.thumb-shadow{
  transition: ease all $thumbTransSpeed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  clip-path: $polygon;
  display: block;
  background: radial-gradient( rgba(50,50,50,1), rgba(150,150,150,0) 90% );
  position: absolute;
  margin: auto;
}
.t-headline{
  text-align: center;
  position: absolute;
  top: 35%;
  margin: auto;
  right: 0px;
  left: 0px;
}

</style>
