<template>
  <div id="app">

    <!-- <topbar/> -->
    <!-- <menu/> -->
    <!-- <search/> -->

    <router-view/> <!-- articles & thumbs -->

    <!-- <footer/> -->

  </div>
</template>

<script>
export default {
  name: 'App',
  components: {
  },
  data () {
    return {
      thumbsData: []
    }
  },
  methods: {
    fetchData () {
      let getUrl = 'http://localhost:3000/get-articles'
      this.$http.headers.common.Authorization = 'Basic YXBpOnBhc3N3b3Jk'
      this.$http.get(getUrl, () => {}, {headers: {'Content-Type': 'application/json'}})
        .then(response => { return response.json() })
        .then(data => {
          this.thumbsData = data
          // console.log(data)
        })
    }
  },
  mounted () {
    this.fetchData()
  }
}
</script>

<style>

/* @import 'assets/scss/config.scss'; */

body{

}
#app{
  background: black;
}

</style>
